.pagination{
	display: flex;
	margin-top: 20px;

	&__item{
		margin-right: 10px;
		cursor: pointer;
		color: #aea4e3; 
		padding: 5px;
		border-radius: 5px;
		background: none;

		&_active{
			background: #aea4e3;
			color: white;
		}
	}
}